
<%= render 'shared/banner' %>


<!-- code for planners/pictures -->
<div class="container">
  <div class="row">
    <div class="heading-title text-center">
      <h3 class="text-uppercase">Book a plan with a local around the world </h3>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "IMG_1184.JPG", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Almudena</h5>
        <span>Planner in Madrid</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "20180214160414.jpg", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Aron</h5>
        <span>Planner in Roma</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "20180214155646.jpg", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Nadia</h5>
        <span>Planner in Amsterdam</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "20180214160726.jpg", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Davis</h5>
        <span>Planner in Shanghai</span>
      </div>
    </div>
  </div>
</div>




