
<!-- Header with Background Image -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url('<%= cl_image_path(@plan.picture) %>');">
  <div class="banner-content">
    <h1><%= @plan[:title] %></h1>
  </div>
</div>


<!-- Page Content -->
<div class="container">
  <div class="row">
   <div class="col-sm-4">
    <h2 class="mt-4">Summary:</h2>
    <ul>
      <li>Location: <%= @plan[:location] %></li>
      <li>Duration: 2h</li>
      <li>Price: <%= @plan[:price] %></li>
      <li>Review in stars</li>
    </ul>

  </div>
  <div class="col-sm-8">
    <h2 class="mt-4">Description:</h2>
    <p><%= @plan[:description] %></p>

      <% if current_user = @plan.user %>
    <p>
      <%= link_to "Edit", edit_plan_path(@plan), class: "btn btn-primary btn-lg" %>
      <%= link_to "Delete", plan_path(@plan), class: "btn btn-primary btn-lg", method: :delete,
        data: { confirm: "Are you sure?" } %></p>
      <% else %>
        <p><%= link_to "Book Now", new_plan_booking_path(@plan) , class: "btn btn-primary btn-lg" %></p>

      <% end %>
      <p><%= link_to "Back to plans", plans_path %></p>

      </div>

    </div>
  </div>







